/*#listItemPanel {
	width:200px;
	height: 600px;
	padding:10px;
	border: 1px solid black;
	float: left;
}

#FormPanel {
	width:250px;
	height: 600px;
	padding:4px;
	border: 1px solid black;
	float: right;
}

#gallery {
	margin-left: 202px;
	margin-right: 252px;
	height: 600px;
	border: 1px solid black;
}*/